@charset "utf-8";

h1 {
    color: darkmagenta;
    font-size: 60px;
}

#bag {
    color: brown;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

#cheese {
    color: blue;
    font-size: 15px;
    animation: infinite;
}

#spotify {
    text-align: center;
}