@charset "utf-8";

h1 {
    color: darkmagenta;
    font-size: 60px;
}

#bag {
    color: brown;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

#cheese {
    color: blue;
    font-size: 15px;
    animation: infinite;
}

#spotify {
    text-align: center;
}

div.parallax {
    background-image: url(:mark.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}