html {
    background-color: black;
}

/*Header*/
.header {
    background: #1c1c1c;
    border-top: 10px solid #4b5055;
    /* padding: 30px 0;
    background: #f5f5f5;
    border-top: 10px solid #778492; */
}

.profile {
    
}